<div>
  <p>Add a new fake entity</p>
  <input type="text" [(ngModel)]="newFakeEntity.name" placeholder="name">
  <button (click)="add()">add</button>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Groups</th>
          <th>ID</th>
          <th>Parent ID</th>
          <th>Root ID</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody app-fake-entity-detail *ngFor="let fakeEntity of fakeEntities" [fakeEntity]="fakeEntity" (removed)="onRemove($event)"></tbody>
    </table>
  </div>
</div>